table {
    margin: auto;
    border-collapse: collapse;

}

th, td {
    border: 1px solid black;
}
body {
    background-color:antiquewhite;
}

* {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #422d1f;
    
}
header {
    /* background-color: rgb(183, 168, 143); */
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    color: #422d1f;
    border: dotted;
    border-color: white;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('nathanDumlaoUnsplash.jpg');
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

a {
    color: #5c3e28;
}
a:hover {
    color: rgb(32, 22, 6);
  }

nav {
    /* background-color: rgb(183, 168, 143); */
    padding: 8px;
}
nav p {
    background-color: transparent;
}
nav a {
    color: #7d5e49;
    padding: 5px;
}

/* images are from unsplashed, free for use., nathan dumlao. */