{% extends "base.html" %}

{% block main_content %}
<br />
<p>Admin Log-in</p>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ form.admin.label }}
    {{ form.admin() }}
    {% for error in form.admin.errors %}
        {{ error }}
    {% endfor %}
    </br>
    {{ form.passw.label }}
    {{ form.passw() }}
    {% for error in form.passw.errors %}
        {{ error }}
    {% endfor %}
    <br />
    {{ form.submit() }}
    </form>



{% endblock %}